<footer class="page-footer">
  <p class="page-footer__text">
    © 2020 Eli Levit • Created with
    <a
      href="https://www.11ty.dev/"
      class="page-footer__link inline-link"
      target="_blank"
      rel="noopener noreferrer"
      >11ty</a
    >
    •
    <a
      href="https://twitter.com/jediyozh"
      class="page-footer__link inline-link"
      target="_blank"
      rel="noopener noreferrer"
      >Twitter</a
    >
    •
    <a
      href="https://www.instagram.com/il_kon"
      class="page-footer__link inline-link"
      target="_blank"
      rel="noopener noreferrer"
      >Instagram</a
    >
    •
    <a
      href="https://t.me/jediyozh"
      class="page-footer__link inline-link"
      target="_blank"
      rel="noopener noreferrer"
      >Telegram</a
    >
    •
    <a
      href="https://github.com/jediyozh/"
      class="page-footer__link inline-link"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub</a
    >
  </p>
</footer>
