{% set twitterUrl = 'https://twitter.com/jediyozh_' %}

{% if locale == 'en' %}
  {% set twitterUrl = "https://twitter.com/jediyozh" %}
{% endif %}

<footer class="page-footer">
  <p class="page-footer__text">
    {{ site[locale].footerCreatedWith }}
    <a class="page-footer__link" href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">11ty</a >
    •
    <a class="page-footer__link" href="{{ twitterUrl }}" target="_blank" rel="noopener noreferrer">Twitter</a >
    •
    <a class="page-footer__link" href="https://www.instagram.com/il_kon" target="_blank" rel="noopener noreferrer">Instagram</a >
    •
    <a class="page-footer__link" href="https://t.me/jediyozh" target="_blank" rel="noopener noreferrer">Telegram</a >
    •
    <a class="page-footer__link" href="https://github.com/jediyozh/" target="_blank" rel="noopener noreferrer">GitHub</a >
  </p>
</footer>
