{% set homeUrl = '/' + locale + '/' %}
{% set navKeys = ['home', 'blog', 'work', 'about'] %}

<header class="page-header">
  <nav class="page-header__nav">
    <ul class="page-header__list">

      {% for key in navKeys %}
        {% set linkUrl = homeUrl + site.paths[key] + '/'%}
        {% if key == 'home' %}
          {% set linkUrl = homeUrl %}
        {% endif %}

        <li class="page-header__list-item">
          <a class="page-header__link{% if linkUrl == page.url %} page-header__link--active{% endif %}" href="{{ linkUrl }}">
            {{ site[locale].header[key] }}
          </a>
        </li>
      {% endfor %}

    </ul>
  </nav>

  {% set translatedUrl,
  translationLabel = '' %}
  {% for lang in site.languages %}
    {% if locale != lang.code %}
      {% for item in collections.all %}
        {% if item.data.translationKey == translationKey and item.data.locale != locale %}
          {% set translatedUrl = item.url %}
          {% set translationLabel = lang.label %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  <a class="page-header__link page-header__link--lang" href="{{ translatedUrl }}">{{ translationLabel }}</a>
  <button class="page-header__toggle-btn theme-toggler" aria-label="toggle theme" type="button">
    {% include '../images/icons/theme-toggler.svg' %}
  </button>
</header>
