<header>
  <nav>
    <ul>
      <li>
        <a href="#" class="nav-button active">
          <img class="logo" src="assets/yozh.svg" width="62" alt="Red hedgehog; logo" />
        </a>
      </li>
      <li>
        <a href="#" class="nav-button">Blog</a>
      </li>
      <li>
        <a href="#" class="nav-button">Work</a>
      </li>
      <li>
        <a href="https://jediyozh.com/about" class="nav-button">About</a>
      </li>
      <li class="nav-theme">
        <button class="toggle-theme">
          <svg
            viewbox="0 0 14 14"
            width="25"
            height="25"
            aria-hidden="true"
            focusable="false"
            class="sun"
          >
            <g fill-rule="evenodd">
              <circle cx="7" cy="7" r="3" />
              <circle cx="7" cy="1" r="1" />
              <circle cx="11" cy="3" r="1" />
              <circle cx="3" cy="3" r="1" />
              <circle cx="13" cy="7" r="1" />
              <circle cx="11" cy="11" r="1" />
              <circle cx="7" cy="13" r="1" />
              <circle cx="3" cy="11" r="1" />
              <circle cx="1" cy="7" r="1" />
            </g>
          </svg>
          <svg
            class="crescent"
            viewbox="0 0 12 11"
            width="25"
            height="25"
            aria-hidden="true"
            focusable="false"
          >
            <path
              d="M3 1.437c0 2.942 2.579 5.328 5.76 5.328a6.12 6.12 0 0 0 2.548-.549c-.679 2.245-2.906 3.892-5.549 3.892C2.58 10.108 0 7.723 0 4.78 0 2.683 1.309.87 3.211 0 3.074.458 3 .94 3 1.437z"
              fill-rule="evenodd"
            />
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</header>
