.about-page {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 0 10vw;
}


.about-page__photo {
 margin-bottom: 1em;
 border-radius: 2px;
}

.about-page__heading {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0.5em;
  color: var(--color-text-primary);
}

.about-page__text {
  font-size: 19px;
  max-width: 1000px;
  color: var(--color-text-primary);
  font-weight: 400;
}

@media (max-width: 768px) {

  .about-page  {
    padding: 0 4vw;
    margin-top: 0;
  }

  .about-page__photo {
    width: 100%;
    height: unset;
  }

  .about-page__text {
    font-size: 17px;
  }
}
