.about-page {
  grid-column: 1 / -1;
  margin: 0 auto;
  padding: 19vh calc(40px + 4vw) 120px;
}

.about-page__heading-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 0 40px;
  justify-content: center;
  max-width: 1100px;
}

.about-page__heading {
  font-size: 70px;
  font-weight: 800;
  color: var(--color-text-secondary);
  grid-row: 1;
  grid-column: 1 / -1;
  max-width: 900px;
  margin-bottom: 50px;
}

.about-page__bio-text {
  max-width: 850px;
  padding: 80px 0;
  grid-column: 1 / -1;
  grid-row: 2;
}

.about-page__photo {
  border-radius: 2px;
  margin: 0 auto;
}

.about-page__text {
  font-size: calc(19px + 0.18vw);
  color: var(--color-text-primary);
  font-weight: 400;
  margin-bottom: 12px;
  color: var(--color-paragraph);
}

@media (max-width: 768px) {
  .about-page {
    padding: 9vh 7vw;
  }

  .about-page__heading-container {
    grid-gap: 30px 0;
    grid-template-columns: 1fr;
  }

  .about-page__photo {
    height: 190px;
    width: 142.5px;
  }

  .about-page__heading {
    font-size: 30px;
  }

  .about-page__text {
    font-size: 17px;
  }

  .about-page__bio-text {
    padding: 0;
    grid-column: 1;
    grid-row: 3;
  }
}
