.about-page {
  grid-column: 1 / -1;
  margin: 0 auto;
  padding: 10vh calc(40px + 8vw) 120px;
}

.about-page__heading-container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 90px;
  max-width: 740px;
}

.about-page__heading {
  line-height: 1;
  letter-spacing: -0.3px;
  color: var(--color-text-secondary-light);
  font-size: 59px;
  font-weight: 700;
}

.about-page__text {
  color: var(--color-text-primary);
  font-size: calc(19px + 0.2vw);
  font-weight: 500;
}

.about-page picture {
  margin: 0 auto;
}

.about-page__photo {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about-page {
    padding: 9vh 6vw;
  }

  .about-page__heading-container {
    grid-gap: 50px 0;
  }

  .about-page__photo {
    height: 350px;
    width: 262.5px;
  }

  .about-page__heading {
    font-size: 40px;
  }

  .about-page__text {
    font-size: 19px;
  }

  .about-page__bio-text {
    padding: 0;
  }
}
