.blog-page {
  padding: 30px 0;
}

.blog-page__post-list {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  /* min-height: 1000px; */
  min-height: 80vh;
  justify-content: center;
  min-width: 540px;
  width: max-content;
  margin: 10px auto;
  padding: 20px 40px;
  background-color: var(--bg-section);
  border-radius: 10px;
  transition: var(--theme-color-transition);
  transition-property: background-color;
}

.blog-page__post-link {
  position: relative;
  margin: 0 auto;
  margin-top: -122px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.47s ease-out, margin 0.28s ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: cardFolding;
}

.blog-page__post-link:focus {
  box-shadow: 0 0 0 2px var(--color-text-secondary);
}

.blog-page__post-link:active {
  box-shadow: none;
}

@keyframes cardFolding {
  0% {
    margin-top: -195px;
  }

  100% {
    margin-top: -122px;
  }
}

.blog-page__post-link:first-of-type {
  margin-top: 0;
  animation: none;
}

.blog-page__post-link:hover {
  margin-bottom: 140px;
  transform: scale(1.03);
  z-index: 10;
}

.blog-page__post-link:focus {
  outline: none;
  z-index: 10;
}

.blog-page__card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 100%;
  grid-row-gap: 15px;
  width: clamp(480px, 30vw, 520px);
  padding: 35px 40px;
  padding-bottom: 28px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-blog-card);
  background-color: var(--bg-blog-card);
  color: var(--color-text-primary);
  transition: var(--theme-color-transition);
  transition-property: background-color;
}

.blog-page__card:hover .blog-page__card-heading {
  opacity: 1;
}

.blog-page__post-link:active .blog-page__card {
  transform: translateY(1px);
  box-shadow: var(--box-shadow-blog-card-active);
}

.blog-page__card:hover {
  box-shadow: var(--box-shadow-blog-card-hover);
}

.blog-page__card-heading {
  line-height: 1.2;
  opacity: 0.9;
  letter-spacing: -0.08px;
  color: var(--color-text-primary);
  font-size: 19px;
  font-weight: 600;
}

.blog-page__card-info {
  margin-bottom: 18px;
  line-height: 1.45;
  letter-spacing: -0.15px;
  color: var(--color-text-secondary);
  font-size: 17px;
  font-weight: 400;
}

.blog-page__card-date {
  margin-right: 8px;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 13px;
}

.blog-page__card-tag {
  padding: 3px 8px;
  background-color: var(--color-red);
  border-radius: 8px;
  color: white;
  font-weight: 400;
  font-size: 13px;
}

@media (max-width: 768px) {
  .blog-page {
    padding: 20px 3vw;
  }

  .blog-page__post-list {
    grid-template-columns: 1fr;
    min-height: 80vh;
    margin: 0;
    padding: 3vw;
    border-radius: 15px;
  }

  .blog-page__post-link:first-of-type .blog-page__card {
    box-shadow: var(--box-shadow-card-mobile);
  }

  .blog-page__post-link:last-of-type .blog-page__card {
    box-shadow: var(--box-shadow-card-mobile);
  }

  .blog-page__card {
    width: clamp(200px, 100%, 500px);
    grid-row-gap: 12px;
    padding: 20px;
    box-shadow: var(--box-shadow-card-mobile);
  }

  .blog-page__card:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 4px var(--box-shadow-color-blog-card);
  }

  .blog-page__card-heading {
    opacity: 1;
    font-size: 16px;
  }

  .blog-page__card-info {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .blog-page__card-date,
  .blog-page__card-tag {
    font-size: 11px;
  }

  .blog-page__post-link {
    transform: none;
    margin-top: unset;
    margin-bottom: 12px;
    animation: none;
  }

  .blog-page__post-link:last-of-type {
    margin-bottom: 0;
  }

  .blog-page__post-link:hover {
    margin-bottom: 10px;
    padding: unset;
    transform: unset;
    scale: unset;
  }
}

/* @media (min-height: 1200px) {
  .blog-page__post-list {
    min-height: 80vh;
  }
} */
