.blog-page__post-list {
  display: grid;
  grid-row-gap: 17px;
  grid-auto-rows: max-content;
  min-width: 540px;
  min-height: calc(100% - 60px);
  padding: 30px 0;
  margin: 30px 2vw;
  background-color: var(--bg-section);
  transition: var(--theme-color-transition);
  transition-property: background-color;
  border-radius: 10px;
}

.blog-page__no-data-label {
  align-self: center;
  color: var(--color-text-primary);
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}

.blog-page__post-link {
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.47s ease-out, margin 0.28s ease-out;
}

.blog-page__post-link:focus {
  box-shadow: 0 0 0 2px var(--color-text-secondary);
}

.blog-page__post-link:active {
  box-shadow: none;
}

.blog-page__post-link:focus {
  outline: none;
  z-index: 10;
}

.blog-page__card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 100%;
  grid-row-gap: 19px;
  width: clamp(500px, calc(340px + 17vw), 750px);
  padding: 30px 35px;
  border-radius: 15px;
  box-shadow: var(--box-shadow-blog-card);
  background-color: var(--bg-blog-card);
  color: var(--color-text-primary);
  transition: var(--theme-color-transition);
  transition-property: background-color;
}

.blog-page__post-link:active .blog-page__card {
  transform: translateY(1px);
}

.blog-page__card:hover {
  box-shadow: var(--box-shadow-blog-card-hover);
}

.blog-page__card-heading {
  line-height: 1.2;
  color: var(--color-text-primary);
  font-size: clamp(18px, calc(15px + 0.35vw), 22px);
  font-weight: 700;
}

.blog-page__card-info {
  margin-bottom: 8px;
  line-height: 1.45;
  letter-spacing: -0.1px;
  color: var(--color-text-secondary);
  font-size: clamp(16px, calc(12px + 0.28vw), 19px);
  font-weight: 400;
}

.blog-page__card-date {
  margin-right: 8px;
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 16px;
}

.blog-page__card-tag {
  padding: 3px 8px;
  background-color: var(--color-red);
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 768px) {
  .blog-page__post-list {
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
    min-width: unset;
    margin: 20px 2vw;
    padding: 3vw;
  }

  .blog-page__post-link {
    width: 100%;
  }

  .blog-page__card {
    width: 100%;
    grid-row-gap: 12px;
    margin: 0 auto;
    padding: 20px;
  }

  .blog-page__card:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 4px var(--box-shadow-color-blog-card);
  }

  .blog-page__card-heading {
    opacity: 1;
    font-size: 17px;
  }

  .blog-page__card-info {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .blog-page__card-date {
    font-size: 13px;
  }

  .blog-page__card-tag {
    font-size: 12px;
  }
}
