.blog-page__post-list {
  display: grid;
  grid-row-gap: 21px;
  grid-auto-rows: max-content;
  min-width: 540px;
  min-height: calc(100% - 60px);
  padding: 40px 0;
  margin: 20px 0;
  background-image: var(--bg-section);
  transition: var(--theme-color-transition);
}

.blog-page__post-link {
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.47s ease-out, margin 0.28s ease-out;
}

.blog-page__post-link:focus {
  box-shadow: 0 0 0 2px var(--color-text-secondary);
}

.blog-page__post-link:active {
  box-shadow: none;
  transform: scale(0.99);
}

.blog-page__post-link:focus {
  outline: none;
  z-index: 10;
}

.blog-page__post-link:not([href]) {
  opacity: 0.6;
  pointer-events: none;
}

.blog-page__card {
  display: grid;
  grid-template-rows: min-content auto auto;
  grid-template-columns: 100%;
  grid-row-gap: 14px;
  width: clamp(500px, calc(340px + 17vw), 700px);
  padding: 26px 35px;
  border-radius: 15px;
  box-shadow: var(--box-shadow-blog-card);
  background-color: var(--bg-blog-card);
  color: var(--color-text-primary);
  transition: var(--theme-color-transition);
  transition-property: background-color;
}

.blog-page__post-link:active .blog-page__card {
  transform: translateY(1px);
}

.blog-page__card:hover {
  box-shadow: var(--box-shadow-blog-card-hover);
}

.blog-page__card-heading {
  line-height: 1.2;
  color: var(--color-text-primary);
  font-size: clamp(18px, calc(15px + 0.3vw), 22px);
  font-weight: 700;
}

.blog-page__card-info {
  margin-bottom: 6px;
  line-height: 1.45;
  letter-spacing: -0.1px;
  color: var(--color-text-secondary);
  font-size: clamp(16px, calc(12px + 0.28vw), 18px);
  font-weight: 400;
}

.blog-page__card footer {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.blog-page__card-date {
  margin-right: 8px;
  color: var(--color-text-secondary-light);
  font-weight: 400;
  font-size: 14px;
}

.blog-page__card-tag {
  padding: 5px 12px;
  background-color: var(--color-red);
  border-radius: 12px;
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.blog-page__card-process {
  margin-left: auto;
  color: var(--color-text-secondary);
  font-style: italic;
  font-weight: 300;
}

@media (max-width: 768px) {
  .blog-page__post-list {
    grid-template-columns: 1fr;
    grid-row-gap: 13px;
    min-width: unset;
    min-height: 100%;
    padding: 20px 4vw;
    margin: 0;
  }

  .blog-page__post-link {
    width: 100%;
  }

  .blog-page__card {
    width: 100%;
    grid-row-gap: 13px;
    margin: 0 auto;
    padding: 17px 19px;
  }

  .blog-page__card:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 4px var(--box-shadow-color-blog-card);
  }

  .blog-page__card-heading {
    opacity: 1;
    font-size: 18px;
    letter-spacing: -0.1px;
  }

  .blog-page__card-info {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .blog-page__card-date {
    font-size: 13px;
  }

  .blog-page__card-tag {
    font-size: 12px;
    padding: 4px 10px;
  }
}
