.page-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1 / -1;
  grid-row: 3;
  min-height: 35px;
  box-sizing: border-box;
  transition: background-color 0.7s ease-in-out;
  line-height: 1.25;
  will-change: background-color;
  font-weight: 400;
}

.page-footer__text {
  font-size: 12px;
  color: var(--color-text-primary);
  animation: none;
  padding: 9px 20px;
  white-space: nowrap;
  text-align: center;
  transition: color 0.5s ease-in-out;
}

.page-footer__link {
  padding: 1px;
  color: var(--color-footer-link);
  text-decoration: none;
}

.page-footer__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-footer-link);
  text-decoration-style: dotted;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.page-footer__link:focus {
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--color-inline-link);
  outline: none;
}

@media (max-width: 768px) {
  .page-footer {
    overflow: auto;
    min-height: 25px;
    -webkit-text-size-adjust: none;
    justify-content: flex-start;
  }

  .page-footer__text {
    padding: 5px 7px;
  }

  .page-footer__text:first-of-type {
    padding-left: 3vw;
  }
}
