.page-header {
  width: 100%;
  display: grid;
  padding: 0 1vw;
  grid-template-columns: 1.9fr 0.1fr;
  grid-column-gap: 10px;
  height: 45px;
  align-items: center;
  transition: var(--theme-bg-transition);
}

.page-header__nav {
  height: 100%;
  overflow-x: scroll;
}

.page-header__list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  height: 100%;
  align-items: center;
  margin: 0;
  list-style: none;
}

.page-header__link {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding: 7px 0;
  margin: 0 3px;
  color: var(--color-text-header);
  transition: var(--theme-header-transition);
  width: 65px;
  text-align: center;
  white-space: nowrap;
}

.page-header__link:focus {
  box-shadow: 0 0 0 2px var(--color-text-header-active);
  color: var(--color-text-header-active);
}

.page-header__link[href]:active {
  transform: translateY(1px);
}

.page-header__link[href]:hover {
  color: var(--color-text-header-active);
  transition: none;
}

.page-header__link:not([href]) {
  cursor: default;
  color: var(--color-text-header-active);
  font-weight: 500;
}

.page-header__tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-header__tools a {
  margin: 0;
  margin-right: 3px;
  padding: 8px 12px;
  width: min-content;
}

@media (max-width: 768px) {
  .page-header {
    padding: 0 1vw;
    padding-right: 1.5vw;
    height: 42px;
  }

  .page-header__link {
    font-size: 14px;
    padding: 6px 8px;
    margin: 0 1px;
    width: unset;
  }

  .page-header::after {
    background-size: 18px;
    bottom: -10px;
  }

  .page-header__tools a {
    margin: 0;
    padding: 8px;
  }
}
