.page-header {
  width: 100%;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1.9fr 0.1fr;
  grid-column-gap: 10px;
  height: 45px;
  align-items: center;
  position: relative;
  background: var(--bg-color-header);
}

.page-header__nav {
  padding-left: 4vw;
  height: 100%;
  overflow-x: scroll;
}

.page-header__list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  height: 100%;
  align-items: center;
  margin: 0;
}

.page-header__link {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
  padding: 8px 14px;
  margin: 0 3px;
  color: var(--color-text-header);
  border-radius: 3px;
}

.page-header__link:focus {
  box-shadow: 0 0 0 3px var(--color-text-primary);
  outline: none;
  color: var(--color-text-primary);
}

.page-header__link[href]:active {
  transform: translateY(1px);
}

.page-header__link[href]:hover {
  background-color: var(--bg-nav-link-active);
  color: var(--color-text-header-active);
}

.page-header__link:not([href]) {
  cursor: default;
  color: var(--color-text-header-active);
  background-color: var(--bg-nav-link-active);
}

.page-header__tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.page-header__tools a {
  margin: 0;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .page-header__nav {
    padding-inline-start: 1.5vw;
  }

  .page-header__link {
    font-size: 14px;
    padding: 7px 12px;
    margin: 0;
  }

  .page-header__tools {
    margin-right: 3vw;
  }

  .page-header::after {
    background-size: 18px;
    bottom: -10px;
  }

  .page-header__tools a {
    margin: 0;
  }
}
