.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(35px + 1vw);
  padding: 0 2vw;
  transition: var(--theme-bg-transition);
  z-index: 100;
}

.page-header__nav {
  height: 100%;
  padding-right: 10px;
  overflow-x: scroll;
  width: 400px;
}

.page-header__list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  height: 100%;
  align-items: center;
  margin: 0;
  list-style: none;
}

.page-header__list-item {
  margin: 0 16px;
}

.page-header__list-item:first-of-type {
  margin-left: 0;
}

.page-header__link {
  display: inline-block;
  padding: 0 2px;
  color: var(--color-text-header);
  border-radius: var(--link-radius);
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(14px, calc(10px + 0.3vw), 17px);
  font-weight: 400;
  transition: var(--theme-header-transition);
}

.page-header__link:focus {
  box-shadow: 0 0 0 1px var(--color-text-header-active);
  color: var(--color-text-header-active);
  outline: none;
}

.page-header__link[href]:active {
  transform: translateY(1px);
}

.page-header__link[href]:hover {
  color: var(--color-text-header-active);
  transition: none;
}

.page-header__link:not([href]) {
  color: var(--color-text-header-active);
  cursor: default;
  font-weight: 600;
}

.page-header__link--lang {
  width: min-content;
  margin-right: 15px;
  margin-left: auto;
  font-weight: 500;
}

@media (max-width: 768px) {
  .page-header {
    height: 50px;
    padding-right: 2.5vw;
  }

  .page-header__list-item {
    margin: 0 5px;
  }

  .page-header__link {
    width: unset;
    font-size: 14px;
  }

  .page-header::after {
    background-size: 18px;
    bottom: -10px;
  }

  .page-header__link--lang {
    margin-right: 10px;
    margin-left: auto;
  }
}
