.home-page {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  grid-column: 1 / -1;
  grid-row-gap: 1em;
  padding: 1em 0;
}

.home-page__introduction {
  align-self: center;
  grid-column: 1 / -1;
  padding: 0 5vw;
  margin: 0 11vw;
  color: var(--color-text-primary);
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-name: fadeZoom;
}

.home-page__heading {
  margin-block-end: 38px;
  font-size: calc(28px + 2.1vw);
  font-weight: 800;
  word-spacing: 0.04em;
}

.home-page__heading span {
  font-size: calc(24px + 2.1vw);
  transition: none;
}

.home-page__text {
  font-size: calc(14px + 0.65vw);
  font-weight: 500;
  min-height: 120px;
  color: var(--color-text-secondary);
  max-width: calc(480px + 23vw);
}

.home-page__link {
  margin-left: -5px;
  padding: 0 5px;
  color: var(--color-red-link);
  border-radius: var(--link-radius);
  text-decoration: none;
}

.home-page__link:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-red);
  text-underline-offset: 5px;
}

.home-page__link:focus {
  box-shadow: 0 0 0 2px var(--color-red);
}

.home-page__link:active {
  transform: translateY(1px);
}

.home-page__logo {
  transition: var(--theme-color-transition);
  transition-property: fill;
}

@media (max-width: 768px) {
  .home-page__introduction {
    padding: 0 3vw;
    margin: 0;
  }

  .home-page__heading {
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 1.3;
  }

  .home-page__heading span {
    display: block;
    font-size: 33px;
  }

  .home-page__text {
    font-size: 18px;
  }

  .home-page__logo {
    width: 52px;
    margin-left: 5px;
  }

  .home-page__link {
    white-space: nowrap;
  }
}
