.home-page {
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.home-page__container {
  margin: 0 15vw;
  margin-right: 19vw;
  animation-name: fadeZoom;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

@keyframes fadeZoom {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.home-page__heading {
  line-height: 1.15;
  color: var(--color-text-primary);
  font-size: clamp(50px, calc(26px + 3vw), 88px);
  font-weight: 700;
}

.home-page__sub-heading {
  display: inline-block;
  margin-bottom: 45px;
  color: var(--color-text-primary);
  word-spacing: 3px;
  font-size: clamp(20px, calc(10px + 1.2vw), 36px);
  font-weight: 700;
}

.home-page__bio {
  max-width: calc(500px + 20vw);
  line-height: 1.5;
  color: var(--color-text-secondary);
  font-size: clamp(18px, calc(16px + 0.5vw), 29px);
  font-weight: 400;
}

.home-page__bio span {
  text-decoration: line-through;
}

.home-page__logo {
  max-width: 100px;
  margin-left: 5px;
  transition: var(--theme-color-transition);
  transition-property: fill;
}

@media (max-width: 768px) {
  .home-page__container {
    margin: 0 5vw;
  }

  .home-page__heading {
    letter-spacing: -0.1px;
    font-size: 48px;
  }

  .home-page__sub-heading {
    margin-bottom: 30px;
    letter-spacing: -0.1px;
    font-size: 23px;
  }

  .home-page__bio {
    font-size: 19px;
  }

  .home-page__logo {
    margin-left: 2px;
    width: 62px;
  }

  .home-page__link {
    white-space: nowrap;
  }
}
