.home-page {
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.home-page__container {
  margin: 0 16vw;
  margin-right: 19vw;
  animation-name: fadeZoom;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

@keyframes fadeZoom {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.home-page__heading {
  line-height: 1.15;
  color: var(--color-text-primary);
  font-size: clamp(50px, calc(24px + 3vw), 90px);
  letter-spacing: 1px;
  font-weight: 800;
}

.home-page__sub-heading {
  display: inline-block;
  margin-bottom: 45px;
  color: var(--color-text-primary);
  letter-spacing: -0.4px;
  word-spacing: 3px;
  font-size: clamp(20px, calc(10px + 1.4vw), 50px);
  font-weight: 600;
}

.home-page__bio {
  max-width: calc(500px + 24vw);
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: var(--color-text-secondary);
  font-size: clamp(18px, calc(16px + 0.7vw), 40px);
  font-weight: 400;
}

.home-page__link {
  color: var(--color-red);
  border-radius: var(--link-radius);
  text-decoration: none;
}

.home-page__link:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-red);
  text-underline-offset: 5px;
}

.home-page__link:focus {
  box-shadow: 0 0 0 1px var(--color-red);
}

.home-page__link:active {
  transform: translateY(1px);
}

.home-page__logo {
  margin-left: 5px;
  transition: var(--theme-color-transition);
  transition-property: fill;
}

@media (max-width: 768px) {
  .home-page__container {
    margin: 0 4.6vw;
  }

  .home-page__heading {
    font-size: 47px;
  }

  .home-page__sub-heading {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .home-page__bio {
    font-size: 19px;
  }

  .home-page__logo {
    margin-left: 3px;
    width: 58px;
  }

  .home-page__link {
    white-space: nowrap;
  }
}
