.post-page {
  padding: 10vh 5vw;
  border-radius: 10px;
  margin: 0 auto;
}

.post-page h1 {
  margin-bottom: 20px;
}

.post-page p {
  width: clamp(400px, 45vw, 850px);
  font-size: 19px;
  margin-bottom: 15px;
}

.post-page time {
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 10px;
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 16px;
}

.post-page span {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 8px;
  background-color: var(--color-red);
  border-radius: 8px;
  color: white;
}
