.theme-toggler {
  display: flex;
  align-items: center;
  padding: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 3px;
  transition: all 0.1s ease-out;
}

.theme-toggler:focus {
  box-shadow: 0 0 0 3px var(--color-text-primary);
  border-radius: 4px;
  outline: none;
}

.theme-toggler__icon {
  transition: all 0.1s ease-out;
  transition-delay: 0.05s;
  will-change: fill;
}

.theme-toggler:hover .theme-toggler__icon {
  fill: var(--color-red);
}

.theme-toggler__icon--crescent {
  display: none;
}

@media (max-width: 768px) {
  .theme-toggler {
    margin-bottom: 5px;
  }

  .theme-toggler:hover {
    transform: none;
  }

  .theme-toggler:hover .theme-toggler__icon {
    fill: var(--color-text-primary);
  }

  .theme-toggler__icon {
    width: 20px;
    height: 20px;
  }
}
