.theme-toggler {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 2px;
  border-radius: var(--link-radius);
  transition: background-color 0.1s ease-in;
}

.theme-toggler__icon {
  transition: var(--theme-header-transition);
  transition-property: fill;
}

.theme-toggler:focus {
  box-shadow: 0 0 0 1px var(--color-text-header-active);
  outline: none;
}

.theme-toggler:focus .theme-toggler__icon {
  fill: var(--color-text-header-active);
}

.theme-toggler:hover {
  background-color: var(--bg-nav-link-active);
  transition: none;
}

.theme-toggler:active {
  background-color: var(--bg-theme-toggler-active);
}

.theme-toggler:hover .theme-toggler__icon {
  fill: var(--color-text-header-active);
  transition: none;
}

.theme-toggler__icon--crescent {
  display: none;
}

@media (max-width: 768px) {
  .theme-toggler:hover {
    transform: none;
  }

  .theme-toggler:hover .theme-toggler__icon {
    fill: var(--color-text-header);
  }

  .theme-toggler__icon {
    width: 18px;
    height: 18px;
  }
}
