.theme-toggler {
  display: flex;
  align-items: center;
  padding: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.theme-toggler:focus {
  box-shadow: 0 0 0 3px var(--color-active-link);
  border-radius: 4px;
  outline: none;
}

.theme-toggler__icon {
  transition: all 0.2s ease-in-out;
  fill: var(--color-nav-text);
}

.theme-toggler:hover .theme-toggler__icon--sun .main-circle {
  fill: url('#sun-gradient');
}

.theme-toggler:hover .theme-toggler__icon--sun .bottom-circle {
  fill: #f46939;
}

.theme-toggler:hover .theme-toggler__icon--sun .top-circle {
  fill: #c80000;
}

.theme-toggler__icon--crescent {
  display: none;
}
