.work-page {
  grid-column: 1 / -1;
  align-self: center;
  overflow: hidden;
}

.work-page__project-list {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 0 20px;
  align-items: center;
  margin: 20px 0;
  padding: 70px 2vw;
  overflow-x: auto;
  background-image: var(--bg-section);
  transition: var(--theme-color-transition);
}

.work-page__project-list::after {
  display: block;
  height: 1px;
  width: 50px;
  content: '';
}

.work-page__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  align-items: center;
  height: 445px;
  width: 310px;
  padding: 5px 30px;
  box-shadow: var(--box-shadow-blog-card);
  border-radius: 15px;
  background-color: var(--bg-blog-card);
  list-style: none;
  transition: var(--theme-color-transition);
  transition-property: background-color;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: foldingRight;
}

@keyframes foldingRight {
  0% {
    margin-left: -500px;
  }

  100% {
    margin-left: 0;
  }
}

.work-page__card-logo {
  font-size: 27px;
}

.work-page__card-title {
  color: var(--color-text-primary);
  font-size: 24px;
  font-weight: 700;
}

.work-page__card-info {
  align-self: start;
  line-height: 1.5;
  color: var(--color-text-secondary);
  font-size: 18px;
  font-weight: 400;
}

.work-page__card-link {
  font-size: 14px;
  text-decoration: none;
  letter-spacing: -0.15px;
  color: var(--color-footer-link);
}

@media (max-width: 768px) {
  .work-page {
    padding: 20px 0;
    padding-right: 0;
  }

  .work-page__project-list {
    grid-template-rows: max-content auto;
    grid-gap: 0 25px;
    align-items: start;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    padding: 40px 5vw;
    scroll-snap-type: x mandatory;
  }

  .work-page__project-list::after {
    width: 5px;
  }

  .work-page__card {
    grid-row: 2;
    border-radius: 12px;
    height: 370px;
    width: 260px;
    padding: 5px 20px;
    scroll-snap-align: center;
  }

  .work-page__card-title {
    font-size: 22px;
  }

  .work-page__card-info {
    font-size: 16px;
  }

  .work-page__card-link {
    font-size: 15px;
  }
}
