@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes foldingCard {
  0% {
    margin-top: -195px;
  }

  100% {
    margin-top: -118px;
  }
}

@keyframes foldingRight {
  0% {
    margin-left: -500px;
  }

  100% {
    margin-left: 0;
  }
}
