:root {
  /* colors */
  --color-text-primary: #fdfdfd;
  --color-red: #ff2525;
  --color-footer-link: #c3ccff;
  --color-text-header: #c2c2c2;
  --color-text-header-active: #ffffff;
  --color-text-secondary: #9b9b9b;
  --color-red-link: var(--color-red);

  /* background colors */
  --bg-color-primary: #0a0a0a;
  --bg-color-header: #141414;
  --bg-nav-link-active: rgba(255, 255, 255, 0.13);
  --bg-color-blog-card: #151515;
  --bg-header-blog-card: rgba(255, 255, 255, 0.04);
  --bg-section-color: #111111;
  --bg-blog-card: #1d1e21;
  --bg-theme-toggler-active: rgba(94, 94, 94, 0.3);

  /* transitions */
  --theme-color-transition: color 0.3s ease-in-out;
  --theme-header-transition: all 0.1s ease-in;

  /* other */
  --link-radius: 3px;
  --box-shadow-color-blog-card: #020202;
  --border-footer-color: #fdfdfd24;
  --box-shadow-card-color: rgba(0, 0, 0, 0.4);
  --box-shadow-card-color-last: rgba(0, 0, 0, 0.17);
  --box-shadow-blog-card: 0 -1px 20px -5px var(--box-shadow-card-color);
  --box-shadow-blog-card-hover: 0 0 20px 0 rgba(0, 0, 0, 0.6);
  --box-shadow-blog-card-active: 0 1px 12px var(--box-shadow-color-blog-card);
  --box-shadow-card-mobile: unset;
}

.light {
  /* colors */
  --color-text-primary: #242424;
  --color-text-secondary: #555555;
  --color-red: #f31313;
  --color-footer-link: #2f3975;
  --color-red-link: #e90000;

  /* background colors */
  --bg-color-primary: #ffffff;
  --bg-color-header: #151515;
  --bg-nav-link-active: rgba(255, 255, 255, 0.2);
  --bg-color-blog-card: var(--bg-color-primary);
  --bg-header-blog-card: #dcdcdcad;
  --bg-section-color: #f5f5f5;
  --bg-blog-card: #ffffff;

  /* other */
  --box-shadow-color-blog-card: rgba(12, 12, 13, 0.1);
  --border-footer-color: #8080801f;
  --box-shadow-card-color: rgba(0, 0, 0, 0.06);
  --box-shadow-card-color-last: rgba(0, 0, 0, 0.06);
  --box-shadow-blog-card: 0 -14px 15px -7px var(--box-shadow-card-color);
  --box-shadow-blog-card-hover: 0 0 20px 0 rgba(0, 0, 0, 0.09);
  --box-shadow-blog-card-active: 0 1px 12px var(--box-shadow-color-blog-card);
  --box-shadow-card-mobile: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}

.light .theme-toggler__icon--sun {
  display: none;
}

.light .theme-toggler__icon--crescent {
  display: initial;
}
