:root {
  /* colors */
  --color-text-primary: #ffffff;
  --color-red: #e91422;
  --color-text-header: #c2c2c2;
  --color-text-header-active: #ffffff;
  --color-text-secondary: #c3c3c9;
  --color-text-secondary-light: #9b9b9b;
  --color-footer-link: #c3ccff;

  /* background colors */
  --bg-primary: #000000;
  --bg-section: #111111;
  --bg-blog-card: #1f2021;

  /* transitions */
  --theme-color-transition: color 0.3s ease-in-out;
  --theme-header-transition: all 0.1s ease-in;

  /* other */
  --link-radius: 4px;
  --box-shadow-color-blog-card: #020202;
  --border-footer-color: rgba(253, 253, 253, 0.14);
  --box-shadow-card-color: rgba(0, 0, 0, 0.5);
  --box-shadow-blog-card: 0 -1px 20px -5px var(--box-shadow-card-color),
    0 -1px 0 0 rgba(0, 0, 0, 0.02);
  --box-shadow-blog-card-hover: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  --box-shadow-blog-card-active: 0 1px 12px var(--box-shadow-color-blog-card);
  --box-shadow-card-mobile: unset;
}

.light {
  /* colors */
  --color-paragraph: #000000;
  --color-text-primary: #1a1a1d;
  --color-text-header: #555555;
  --color-text-header-active: #000000;
  --color-text-secondary: #2c2c2c;
  --color-text-secondary-light: #707070;
  --color-red: #e61422;
  --color-footer-link: #2f3975;

  /* background colors */
  --bg-primary: #ffffff;
  --bg-section: #edeef0;
  --bg-blog-card: #ffffff;

  /* other */
  --box-shadow-color-blog-card: rgba(12, 12, 13, 0.1);
  --border-footer-color: rgba(128, 128, 128, 0.12);
  --box-shadow-card-color: rgba(0, 0, 0, 0.1);
  --box-shadow-blog-card: 5px -7px 25px -5px var(--box-shadow-card-color),
    0 -1.2px 0 0 rgba(0, 0, 0, 0.01);
  --box-shadow-blog-card-hover: 0 0 25px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.01);
  --box-shadow-blog-card-active: 0 1px 12px var(--box-shadow-color-blog-card);
  --box-shadow-card-mobile: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.light .theme-toggler__icon--sun {
  display: none;
}

.light .theme-toggler__icon--crescent {
  display: initial;
}
