:root {
  /* colors */
  --color-text-primary: #ffffff;
  --color-red: #e91422;
  --color-text-header: #c2c2c2;
  --color-text-header-active: #ffffff;
  --color-text-secondary: #c3c3c9;
  --color-text-secondary-light: #9b9b9b;
  --color-footer-link: #c3ccff;

  /* background colors */
  --bg-primary: #070707;
  --bg-section: #191a1b;
  --bg-blog-card: #262728;

  /* transitions */
  --theme-color-transition: color 0.3s ease-in-out;
  --theme-header-transition: all 0.1s ease-in;

  /* other */
  --link-radius: 4px;
  --box-shadow-color-blog-card: #020202;
  --border-footer-color: rgba(253, 253, 253, 0.14);
  --box-shadow-blog-card: 0 4px 18px 0 #00000048;
  --box-shadow-blog-card-hover: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
  --box-shadow-card-mobile: unset;
}

.light {
  /* colors */
  --color-paragraph: #000000;
  --color-text-primary: #1a1a1d;
  --color-text-header: #484c55;
  --color-text-header-active: #000000;
  --color-text-secondary: #2c2c2c;
  --color-text-secondary-light: #5e5e5e;
  --color-red: #e61422;
  --color-footer-link: #2f3975;

  /* background colors */
  --bg-primary: #ffffff;
  --bg-section: #f1f1f1;
  --bg-blog-card: #ffffff;

  /* other */
  --box-shadow-color-blog-card: rgba(12, 12, 13, 0.06);
  --border-footer-color: rgba(128, 128, 128, 0.12);
  --box-shadow-blog-card: 0 2px 20px 0 var(--box-shadow-color-blog-card);
  --box-shadow-blog-card-hover: 0 3px 25px 0 #0000001c;
}

.light .theme-toggler__icon--sun {
  display: none;
}

.light .theme-toggler__icon--crescent {
  display: initial;
}
