:root {
  /* colors */
  --color-text-primary: #f7f7f7;
  --color-red: #ff4f4f;
  --color-inline-link: #c3ccff;
  --color-footer-text: #a8a8a8;
  --color-footer-link: var(--color-inline-link);
  --color-text-gradient-start: #ff9c6c;
  --color-text-gradient-end: #ff1717;

  /* background colors */
  --bg-color-primary: #141414;
  --bg-footer: #0f0f0f;
}

.light {
  /* colors */
  --color-text-primary: #1a1a1a;
  --color-red: #d20000;
  --color-inline-link: #2f3975;
  --color-footer-text: #d0d0d0;

  /* background colors */
  --bg-color-primary: #f4f6fd;
  --bg-footer: #262626;
}

.light .theme-toggler__icon--sun {
  display: none;
}

.light .theme-toggler__icon--crescent {
  display: initial;
}
