*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

img {
  display: block;
}

button {
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    /* stylelint-disable declaration-no-important */
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
