html,
body {
  height: 100%;
}

body {
  font-family: Gilam, Helvetica, Arial sans-serif;
  background-color: var(--bg-color-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 3em;
  overflow-x: hidden;
  /* background-image: linear-gradient(-225deg, #fffefc 0%, rgb(255, 250, 234) 100%); */
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:focus {
  transition: box-shadow 0.2s;
}
