html,
body {
  height: 100%;
}

body {
  font-family: Inter, Helvetica, Arial sans-serif;
  background-color: var(--bg-color-primary);
  background-image: url('../assets/yozh-dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 90%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px auto 50px;
  transition: background-color 0.7s ease-in-out;
  background-position: center bottom 15%;
  background-size: 30%;
}

header {
  width: 100%;
  grid-column: 1 / -1;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

nav {
  height: 100%;
  width: max-content;
  margin-left: 4vw;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  height: 100%;
  align-items: center;
  margin: 0;
}

nav ul li {
  list-style: none;
  margin: 0 0.8em;
}

nav ul li a {
  color: var(--color-text-primary);
  font-size: 2vmin;
  font-weight: 900;
  color: var(--color-nav-text);
  background-color: var(--bg-color-btn);
  transition: color 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:first-child a {
  vertical-align: middle;
  display: inline-block;
  width: max-content;
}

.text {
  margin-left: 4vw;
  margin-bottom: 4em;
  align-self: start;
  grid-column: 1 / -1;
  margin-left: 15vw;
  margin-top: 180px;
  margin-bottom: 4em;
}

.inline-link {
  text-decoration: none;
  color: var(--color-text-primary);
  transition: color 0.7s ease-in-out;
}

h1 {
  margin-block-end: 0.5em;
  color: var(--color-text-primary);
  font-size: calc(16px + 2.4vw);
  transition: color 0.7s ease-in-out;
  animation-duration: 1.5s;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-name: fadeZoom;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Gilam;
}

p {
  color: var(--color-text-primary);
  font-size: calc(12px + 1vw);
  font-weight: 600;
  transition: color 0.7s ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-name: fadeZoom;
  line-height: 1.4;
  font-family: Gilam;
}

.nav-button:hover {
  color: var(--color-active-tab);
}

.nav-button:focus {
  box-shadow: 0 0 0 4px var(--color-active-tab);
  outline: none;
  color: var(--color-active-tab);
}

.nav-theme {
  display: flex;
}

.toggle-theme {
  margin-inline-start: 0.5em;
  padding: 0;
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.toggle-theme .sun,
.toggle-theme .crescent {
  transition: all 0.2s ease-in-out;
  fill: var(--color-nav-text);
}

.toggle-theme:focus .sun,
.toggle-theme:hover .sun,
.toggle-theme:focus .crescent,
.toggle-theme:hover .crescent {
  fill: var(--color-active-tab);
}

.toggle-theme .crescent {
  display: none;
}

.active {
  color: var(--color-active-tab);
}

.active:hover,
.active:focus {
  box-shadow: none;
}

.logo {
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  fill: var(--color-nav-text);
  transition: fill 0.2s ease-in-out;
}

.logo:focus,
.logo:hover {
  fill: var(--color-active-tab);
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.social__link {
  margin-right: 12px;
  padding: 4px;
}

.social__link path {
  fill: var(--color-nav-text);
  transition: all 0.2s ease-in-out;
}

.social__link .point {
  fill: var(--bg-color-primary);
  transition: all 0.2s ease-in-out;
}

.social__link .circle {
  fill: var(--color-nav-text);
  stroke: var(--bg-color-primary);
  transition: all 0.2s ease-in-out;
}

.social__link:hover path,
.social__link:focus path,
.social__link:hover .circle,
.social__link:focus .circle {
  fill: var(--color-active-tab);
}

.social__link:focus {
  box-shadow: 0 0 0 4px var(--color-active-tab);
  outline: none;
  border-radius: 4px;
}

.special-word {
  color: #d20000;
}

@media (max-width: 768px) {
  body {
    grid-template-rows: 60px 1fr 0.4fr;
    display: grid;
    grid-template-columns: 1fr;
    background-size: 70%;
    /* background-position: right 8% top 30%; */
    /* background-position: right 8% bottom -50%; */
    /* background-image: none; */
  }

  nav {
    margin-inline-start: 5vw;
  }

  nav ul li a {
    font-size: calc(11px + 1vw);
    margin-inline-end: 0;
  }

  nav ul li:first-child {
    grid-column: 1 / -1;
  }

  .text {
    text-align: left;
    align-self: center;
    white-space: normal;
    margin: 0;
    padding: 5vw;
    position: relative;
    transform: none;
  }

  h1 {
    font-size: calc(16px + 3vw);
    margin-block-end: 0.7em;
    /* font-family: Inter; */
  }

  p {
    font-size: calc(15px + 0.6vw);
    line-height: 1.3em;
    font-weight: 600;
  }

  .logo {
    width: 40px;
  }

  .footer {
    display: none;
  }
}
