---
permalink: /{{ locale }}/{{paths.about}}/
layout: about.njk
---

<p class="about-page__text">
  If you're reading these lines, you're really cool, because I don't usually do it with other
  people.
</p>
<p class="about-page__text">
  I live in Israel 🇮🇱 and I do web development. I like to read books, drink wine and complain a lot.
  I do it to change things for the better and also because I'm a perfectionist.
</p>
<p class="about-page__text">
  Goood people don't usually go that far, so I'll tell you one more interesting thing about me: at
  school I had a nickname - hedgehog 🦔 and all my friends still call me that. So I decided to make
  it a logo.
</p>
