---
title: Eli Levit | About me
layout: page.njk
permalink: /about/
---

<div class="about-page">
  <div class="about-page__photo-container">
    <picture>
      <source media="(max-width: 768px)" type="image/webp" srcset="/assets/images/me/me_1x.webp" />
      <source media="(max-width: 768px)" srcset="/assets/images/me/me_1x.jpeg" />
      <source media="(max-width: 1200px)" type="image/webp" srcset="/assets/images/me/me_2x.webp" />
      <source media="(max-width: 1200px)" srcset="/assets/images/me/me_2x.jpeg" />
      <source media="(min-width: 1201px)" type="image/webp" srcset="/assets/images/me/me_3x.webp" />
      <source media="(min-width: 1201px)" srcset="/assets/images/me/me_3x.jpeg" />
      <img
        class="about-page__photo"
        src="/assets/images/me/me_3x.jpeg"
        alt="Me smiling and looking at the sky"
        width="30%"
      />
    </picture>
  </div>
  <p class="about-page__text">
    Немного о том, как заготовка превращается в изделие. К металлическому столу станка болтами
    прикручивается деревянный жертвенный стол, потому что его не жалко. К нему крепится заготовка.
    Материал вынимается сначала концевой фрезой большого диаметра, затем в углах и на чистовую
    фрезой малого диаметра. Но контурам пробегаю фаску угловой фрезой или закруглённой фасонной.
    Гладкие криволинейные поверхности делаются сферической фрезой. После каждой смены фрезы нужно
    выставлять начало координат по высоте. Начало каждого прохода очень ответственный момент. Нужно
    уменьшить скорость и внимательно наблюдать за фрезой. Если она начала что-то портить или повела
    себя необычным образом, нужно срочно останавливать процесс, пока заготовка или фреза необратимо
    не пострадали. Например, фреза может уйти глубже, вырвать заготовку, не вращаться, дымиться,
    давать пыль вместо стружки, летать по другой траектории, быть не того диаметра или профиля.
    Затем заготовка переворачивается и таким же способом обрабатывается со второй стороны. Всего
    инструмент мен
  </p>
</div>
