---
title: Eli Levit
layout: page.njk
permalink: index.html
---

<section class="text">
  <h1>
    Hi, I’m Eli Levit,<br/>
    Front-end Developer
  </h1>
  <p>
    I’m trying to write posts.
    <br/>Also I love to make videos, photos and code some stuff.<br/>
    You can read more about me
    <a href="#" class="inline-link">here</a>
  </p>
</section>
