---
title: Eli Levit
layout: page.njk
permalink: index.html
---

<div class="home-page">
  <section class="home-page__introduction">
    <h1 class="home-page__heading">
      <span class="home-page__name"
        ><span class="home-page__special-word">Hi</span>, I’m Eli Levit</span
      >
      <br />
      Front-end Developer
    </h1>
    <p class="home-page__text">
      I’m trying to write posts.
      <span>Also I love to make videos, photos and code some stuff.</span>
      <a href="/about/" class="home-page__link">More about me</a>
    </p>
  </section>
  <img src="assets/images/yozh.svg" class="home-page__logo" width="28%" alt="Red headgehok" />
</div>
