---
title: Eli Levit
layout: page.njk
permalink: index.html
---

<section class="text">
  <div></div>
  <div></div>
  <h1>
    <span class="special-word">Hi</span>, I’m Eli Levit,<br />
    Front-end Developer
  </h1>
  <p>
    I’m trying to write posts.
    <br />Also I love to make videos, photos and code some stuff.<br />
    More about me
    <a href="#" class="inline-link">→</a>
  </p>
</section>
