---
permalink: /{{ locale }}/{{paths.about}}/
layout: about.njk
---

<p class="about-page__text">
  Шалом, дружище и добро пожаловать на мой сайт!
</p>
<p class="about-page__text">
  Если ты читаешь эти строки, то ты нереально крут, потому что я этого обычно не делаю у других
  людей.
</p>
<p class="about-page__text">
  Я живу в Израиле 🇮🇱 и занимаюсь веб разработкой. Мне нравиться читать книги, пить вино и много
  жаловаться. Я это делаю, чтобы что-то изменить в лучшую сторону и еще потому что я перфекционист.
</p>
<p class="about-page__text">
  Пщщщ, так далеко обычно не заходят, поэтому расскажу еще одну интересную вещь обо мне: в школе у
  меня была кличка - ежик 🦔 и все друзья до сих пор меня так называют. Поэтому я решил сделать его
  логотипом.
</p>
