---
translationKey: 'about'
---

{% extends "./page.njk" %}

{% block styling %}
  {% include "../styles/blocks/about.css" %}
{% endblock %}

{% block content %}
  <main class="about-page">
    <section class="about-page__container">
      {{ content | safe }}
      <picture>
        <source type="image/webp" srcset="/assets/images/me/me.webp"/>
        <img class="about-page__photo" src="/assets/images/me/me.png" height="300px" width="300px" alt="Me smiling and looking at the sky"/>
      </picture>
    </section>
  </main>
{% endblock %}
