---
translationKey: 'blog'
---

{% extends "./page.njk" %}

{% block styling %}
  {% include "../styles/blocks/blog.css" %}
{% endblock %}

{% block content %}
  <main class="blog-page">
    <section class="blog-page__post-list">
      <h1 class="visually-hidden">Blog</h1>

      {% set posts = collections[locale + "Posts"] %}

      {% for post in posts | reverseArticles %}
        {% include "post-card.njk" %}
      {% endfor %}

    </section>
  </main>
{% endblock %}
