---
translationKey: 'blog'
---

{% extends "./page.njk" %}
{% set metaTitle = site[locale].headerBlog %}
{% block content %}

<main class="blog-page">
  <section class="blog-page__post-list">
    <h1>Blog</h1>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
          How I created this site
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>19th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
          What about adaptife font
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>21th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
         Do you like to drink wine
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>20th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
         Do you like to drink wine
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>20th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
         Do you like to drink wine
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>20th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
         Do you like to drink wine
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>20th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
         Do you like to drink wine
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>20th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
    <article>
      <a href="/{{ locale }}/blog" class="blog-page__post-element">
        <h2>
         Do you like to drink wine
        </h2>
        <p>
          This blog post is about how I created this web site. It took me only year with half to do
          it.
        </p>
        <footer>
          <span>20th April 2020</span>
          <span class="tag">#Life</span>
        </footer>
      </a>
    </article>
  </section>
</main>
{% endblock %}
