{% extends "./page.njk" %}
{% set metaTitle = site[locale].homeTitle %}

{% block content %}
<div class="home-page">
  <section class="home-page__introduction">
    <h1 class="home-page__heading">
      <span class="home-page__name"
        >{{ site[locale].name }}
        <img src="/assets/images/yozh.svg" class="home-page__logo" width="70px" alt="Red headgehok"
      /></span>
      {{ site[locale].profession }}
    </h1>
    <p class="home-page__text">
      {{ site[locale].info }}
      <a href="/about/" class="home-page__link inline-link">{{ site[locale].moreAboutMe }}</a>
    </p>
  </section>
</div>
{% endblock %}
