---
translationKey: 'home'
---

{% extends "./page.njk" %}

{% block styling %}
  {% include "../styles/blocks/home.css" %}
{% endblock %}

{% block content %}
  <main class="home-page">
    <section class="home-page__container">
      <h1 class="home-page__heading">
        <span>{{ site[locale].homePage.firstName }}</span>
        {{ site[locale].homePage.lastName }}
        {% include '../images/icons/logo.svg' %}
      </h1>
      <h2 class="home-page__sub-heading">{{ site[locale].homePage.profession }}</h2>
      <p class="home-page__bio">
        {{ site[locale].homePage.shortBio }}
        <a class="text-link" href="/{{ locale }}/about/">{{ site[locale].homePage.moreAboutMe }}</a>
      </p>
    </section>
  </main>
{% endblock %}
