<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <title>{{ metaTitle }}</title>
    <script src="/scripts/index.js" rel="preload" defer></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="eli levit, front-end developer blog." />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="jediyozh" />
    <meta property="og:site_name" content="blog of eli levit" />
    <meta property="og:url" content="https://dev.jediyozh.com" />
    <meta property="og:image" content="assets/images/social.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="jediyozh" />
    <meta name="twitter:description" content="blog of eli levit" />
    <meta name="twitter:site" content="https://dev.jediyozh.com" />
    <meta name="twitter:image" content="assets/social.png" />

    <link rel="stylesheet" type="text/css" href="/styles/index.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#e51212" />
    <meta name="msapplication-TileColor" content="#e51212" />
    <meta name="theme-color" content="#fdfdfd" />
  </head>

  <body>
    {% include 'header.njk' %}
    {% block content %}{% endblock %}
    {% include 'footer.njk' %}
  </body>
</html>
