{% extends "./page.njk" %}

{% set metaTitle = site[locale].aboutTitle %}

{% block styling %}
  {% include "../styles/blocks/post.css" %}
{% endblock %}

{% block content %}
  <main class="post-page">
    {{ content | safe}}
  </main>
{% endblock %}
