{% extends "./page.njk" %}

{% set metaTitle = site[locale].aboutTitle %}

{% block styling %}
  {% include "../styles/blocks/post.css" %}
{% endblock %}

{% block content %}
  <main class="post-page">
    <div class="article">
      <img src="{{ imagePath }}" width="950px" height="340px"/>
      <h1>{{ title }}</h1>
      <div class="meta">
        <time>{{ time }}</time>
        <span>#{{ tag }}</span>
      </div>
      {{ content | safe}}
    </div>
  </main>
{% endblock %}
