{% extends "./page.njk" %}

{% set metaTitle = site[locale].aboutTitle %}

{% block styling %}
  {% include "../styles/blocks/post.css" %}
{% endblock %}

{% block content %}
  <main class="post-page">
    <img width="900px" style="margin: 0 auto; margin-bottom: 100px; border-radius: 15px;" src="{{ imagePath }}"/>

    {{ content | safe}}
  </main>
{% endblock %}
