---
translationKey: 'work'
---

{% extends "./page.njk" %}

{% block styling %}
  {% include "../styles/blocks/work.css" %}
{% endblock %}

{% block content %}
  <main class="work-page">
    <section class="work-page__project-list">
      <h1 class="visually-hidden">Work</h1>

      {% for project in collections.projects %}

        <article class="work-page__card">
          <span class="work-page__card-logo">🦔</span>
          <h2 class="work-page__card-title">{{ project.data[locale].title }}</h2>
          <p class="work-page__card-info">{{ project.data[locale].info }}</p>
          <a class="work-page__card-link" href="https://github.com/jediyozh/custom-starter">{{ site[locale].seeOnGitHubLabel }}</a>
        </article>

      {% endfor %}

      <article class="work-page__card">🎖</article>
      <article class="work-page__card">🎧</article>
      <article class="work-page__card">🥎</article>
      <article class="work-page__card">🍬</article>
      <article class="work-page__card">🌰</article>
    </section>
  </main>
{% endblock %}
