---
translationKey: 'work'
---

{% extends "./page.njk" %}
{% set metaTitle = site[locale].headerWork %}

{% block content %}
<main class="work-page">
  <h1 class="work-page__heading">My projects</h1>
  <div>
    <ol>
      <li>one</li>
      <li>two</li>
      <li>three</li>
      <li>four</li>
      <li>five</li>
      <li>six</li>
    </ol>
  </div>
</main>
{% endblock %}
