---
translationKey: 'work'
---

{% extends "./page.njk" %} {% set metaTitle = site[locale].headerWork %} {% block content %}
<main class="work-page">
  <section>
    <h1 class="work-page__heading">Projects</h1>
    <article>🦔</article>
    <article>🎖</article>
    <article>🎧</article>
    <article>🥎</article>
    <article>🍬</article>
    <article>🌰</article>
  </section>
</main>
{% endblock %}
